body{
    background-color: olive;
}


#flex-parent{
    display:flex;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}

#grid-parent{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}


#flex-child1 {
    order: 2;
}

#flex-child2 {
    order: 3;
}

#flex-child3 {
    order: 1;
}

#flex-child4 {
    order: 0;
}


#no0{
    grid-area: 4 / 2;
}
#no1{
    grid-area: 1 / 1;
}
#no2{
    grid-area: 1 / 2;
}
#no3{
    grid-area: 1 / 3;
}
#no4{
    grid-area: 2 / 1;
}
#no5{
    grid-area: 2 / 2;
}
#no6{
    grid-area: 2 / 3;
}
#no7{
    grid-area: 3 / 1;
}
#no8{
    grid-area: 3 / 2;
}
#no9{
    grid-area: 3 / 3;
}
